[submodule "talon-community"]
	path = talon-community
	url = git@github.com:mikeysasse/talon-community.git
[submodule "cursorless-talon"]
	path = cursorless-talon
	url = git@github.com:mikeysasse/cursorless-talon.git
[submodule "say-the-spire-talon"]
	path = say-the-spire-talon
	url = git@github.com:brollin/say-the-spire-talon.git
[submodule "rango-talon"]
	path = rango-talon
	url = ../../david-tejada/rango-talon.git
[submodule "talon-filetree-commands"]
	path = talon-filetree-commands
	url = git@github.com:paul-schaaf/talon-filetree-commands.git
